@inherits LayoutComponentBase

<main class="container py-4">
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet class="alert alert-danger m-3" style="display:none">
    An unhandled error has occurred.
    <a href="." class="alert-link ms-2">Reload</a>
    <span class="dismiss ms-2" role="button">x</span>
</div>
